inherits Westwind.RazorHosting.RazorTemplateFolderHost<>
<h1>STATIC</h1>
@Model.Name
<div class="toolbar">
    <a href="" class="hoverbutton"> Home</a>
    <a href="" class="hoverbutton"> Refresh</a>
</div>
