@inherits RazorTemplateFolderHost<RazorHostingTests.Person>
<h1>@Model.Name of @Model.Company</h1>

<div class="toolbar">
    <a href="" class="hoverbutton"> Home</a>
    <a href="" class="hoverbutton"> Refresh</a>
</div>
